<div class="container">
  <input type="file" #fileUpload [hidden]="true"  (change)="onfileUpload($event)"/>
  <form name="form1" novalidate (ngSubmit)="onSubmit(f.value)" #f="ngForm">
    <div flex="100">
      <div flex="100"
           alignment="center center"
           layout="column">
          <div class="p-s"
               flex="100"
               alignment="center center"
               layout="column">
            <div [hidden]="finalState" style="width:100%">
              <div alignment="flex-start flex-start"
                   layout="column"
                   [hidden]="finalState"
                   flex="100">
                <div flex="100"
                    alignment="flex-start flex-start"
                    layout="row">
                  <button type="button" (click)="chooseFile()">Upload image</button>
                  <input class="m-top-m"
                         type="text"
                         [ngModel]="post.title"
                         name="title"
                         placeholder="Enter title"/>
                  <textarea id="post-editor"
                            placeholder="Describe your announcement..."
                            class="post-description m-top-m"
                            name="description"
                            required
                            [ngModel]="post.description"
                            rows="3"></textarea>
                </div>
            </div>
            </div>
            <div style="width:100%"
                 [hidden]="!finalState">
              <div layout="row"
                   alignment="flex-start flex-start"
                   flex="100">
                <div>
                  <input type="text"
                         [ngModel]="post.location"
                         placeholder="Location"
                         name="location"/>
                  <input type="text"
                         placeholder="Duration in days"/>
                </div>
                <div layout="column"
                     alignment="flex-start flex-start"
                     flex="100">
                  <div class="m-bottom-m">
                    <div>
                      Choose categories:
                    </div>
                    <div layout="row">
                      <div *ngFor="let cat of availableCategories"
                           class="available-categories bold pointer p-xs m-s"
                           [ngClass]="{ selected: cat.selected }"
                           (click)="toggleCategory(cat)">
                        {{cat.name}}
                      </div>
                    </div>
                  </div>
                </div>
                  <button type="button" (click)="calculatePrice()">Calculate price</button>
                  Total price: <span>{{totalPrice}}</span>
              </div>
            </div>
          </div>
          <div class="m-left-m m-top-m"
               flex="100"
               alignment="flex-start flex-start"
               layout="row">
            <button type="button" (click)="changeState()">{{navigationText}}</button>
          </div>
          <div style="width:100%"
               [hidden]="!finalState">
            <div class="p-s"
                 flex="100"
                 alignment="flex-start flex-start"
                 layout="row">
              <button class="btn-submit"
                      type="submit" >
                Submit
              </button>
              <div class="alert alert-success"
                   *ngIf="success" >
                <strong>Post successfully edited!</strong>
              </div>
            </div>
          </div>
      </div>
    </div>
  </form>
</div>
