<div (click)="popUpProfile()"
     class="foreground pointer fadeIn fadeOut"
     flex="100"
     layout="column"
     alignment="center center">
  <img class="close-icon" (click)="close()" src="./assets/icons/close-icon.png">
  <img src="{{notification.companyLogoSrc}}"/>
  <span class="weak-outlined p-s">{{notification.description}}</span>
</div>

