.container{
    
}
.post-body{
    img{
        max-width: 120px;
        max-height: 150px;
    }
}

.date-container{
    align-self: flex-start;
}
.actions-container{

}

.list-categories{
    display: inline;
}