.inactiveTab {
  color: #a1aeb7;
}


.account-link {
  position: relative;
}

.account-actions {
  position: absolute;
  left: -2px;
  top: 37px;
  width: 150px;
  z-index: 4;
  border-top: none;
  div {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
}

.tab-link {
  cursor: pointer;

  &:hover {
    background-color: #a1aeb7;
  }
}
