<div class="board-container accent"
     flex="100"
     alignment="flex-start flex-start"
     layout="row">
  <div class=""
       flex="100"
       alignment="flex-start flex-start"
       layout="row">
    <div class="m-m"
        *ngFor="let post of posts; let i = index;"
          flex="20"
          layout="row"
          alignment="flex-start flex-start">
      <div class="post-container"
          flex="100">
        <gallery-post [post]="post"></gallery-post>
      </div>
    </div>
  </div>
</div>
