<div class="container accent"
     flex="100"
     layout="column"
     *ngIf="posts.length > 0"
     alignment="flex-start flex-start"
     shrink
     nowrap>
  <div class="side-bar-header foreground"> Previous Posts </div>
  <div class="notifications-wrapper p-top-s"
       layout="column"
       alignment="flex-start flex-start"
       grow
       nowrap>
    <div class="m-bottom-m"
         *ngFor="let post of posts">
      <app-side-post [post]="post"></app-side-post>
    </div>
  </div>
</div>
