<div class="side-bar left-side-bar p-top-m">
  <app-notification-list class="side-bar-container"></app-notification-list>
</div>
<div class="side-bar right-side-bar p-top-m">
  <app-previous-posts [hidden]="!activeTabIs('say')"></app-previous-posts>
</div>
<div class="top-right-menu-container">
  <app-menu (itemClicked)="toggleCalendar(true)"></app-menu>
</div>
<div class="main-container m-top-m"
     layout="column"
     alignment="center center">
  <div class="content">
    <div class="nav-container"
         layout="column"
         flex="100"
         alignment="flex-start flex-start">
      <div class="tabs-wrapper foreground"
           flex="100"
           layout="column"
           alignment="center center"> 
        <div class="tabs-container"
             flex="100"
             [ngClass]="{shown: toggletTabs}"
             (clickOutside)="toggletTabs = false;">
          <div class="menu-button-container"
               layout="column"
               alignment="center center"
               (click)="toggletTabs = true;">
               <div class="bold">Menu</div>
          </div>
          <app-tabs-list
                [parentState]="'/main'"
                [activeTab]="selectedTab">
          </app-tabs-list>
        </div>
      </div>
    </div>
    <div class="under-nav-container accent"
         fill
         flex="100">
      <app-news-board [hidden]="!activeTabIs('news')">
      </app-news-board>
      <app-see [hidden]="!activeTabIs('see')">
      </app-see>
      <app-say [hidden]="!activeTabIs('say')">
      </app-say>
      <app-hear [hidden]="!activeTabIs('hear')">
      </app-hear>
      <app-personal-profile [hidden]="!activeTabIs('profile')">
      </app-personal-profile>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="calendarVisibility" draggable="true">
  <div class="popup-container" >
    <app-calendar (onClose)="hideCalendar()"></app-calendar>
  </div>
  <div class="cover"></div>
</div>
<div class="popup-container"
     draggable>
  <app-popup-post></app-popup-post>
</div>
<div class="popup-container"
     draggable>
  <app-popup-profile></app-popup-profile>
</div>
