<div class="" *ngIf="post" >
  <div class="container foreground"
       (click)="post = null">
       <!--TODO: implement display categories dinamically depending on type of post-->
    <app-post-body [displayCats]="true" [post]="post" (onDateClicked)="showCalendar($event)"></app-post-body>
  </div>
</div>
