<div class="foreground menu-container"
     flex="100"
     layout="row"
     alignment="center center">
<div layout="row"
     alignment="center center"
     flex="100">
  <div layout="row"
       alignment="space-around center"
       flex="100">
    <div class="menu-link p-s"
         *ngFor="let item of items; let i = index;"
         fill>
      <div class="bold pointer"
           layout="column"
           alignment="center center"
           (click)="itemClick(item.label)">
        {{item.label}}
      </div>
    </div>
  </div>
</div>
</div>