
.personal-profile {
  height: 100%;
}

.profile-name, .description-label {
  font-size: 30px;
}

.profile-image {
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 15em;
    height: 15em;
  }
}

.available-categories {
  border: 1px #0084bf solid;

  &.selected {
    background-color: #0084bf;
    color: white;
  }
}

