<div class="personal-profile foreground"
     flex="100"
     alignment="flex-start flex-start"
     layout="row">
  <div class="p-m"
       flex="100"
       layout="row"
       alignment="flex-start flex-start">
    <div class="profile-data-wrapper"
         flex="100">
      <div class="profile-data-container"
           flex="100"
           layout="row"
           alignment="center center">
        <div class="profile-image-wrapper m-bottom-s"
             flex="100"
             layout="row"
             alignment="center center">
          <div class="profile-image">
            <img src="{{profilePicture}}">
          </div>
        </div>
        <div class="profile-name bold m-bottom-s">
         {{profileName}}
        </div>
      </div>
    </div>
    <div class="description-wrapper"
         flex="100"
         layout="row"
         alignment="center center">
      <div class="description-body m-bottom-s"
           flex="80">
        {{description}}
      </div>
      <div layout="row"
           flex="80">
        <div *ngFor="let cat of availableCategories"
             class="selected available-categories bold pointer p-xs m-s">
          {{cat.name}}
        </div>
      </div>
    </div>
  </div>
</div>
