<div class="container accent"
     flex="60"
     layout="column"
     *ngIf="notifications.length > 0"
     alignment="flex-start flex-start"
     shrink
     nowrap>
  <div class="side-bar-header foreground"> Notifications </div>
  <div class="notifications-wrapper"
       layout="column"
       alignment="flex-start flex-start"
       grow
       nowrap>
    <div class="m-bottom-m"
         *ngFor="let notification of notifications">
      <app-notification [notification]="notification" (onClose)="removeNotification(notification)"></app-notification>
    </div>
  </div>
</div>
