<div class="foreground outlined calendar">
  <div layout="column"
       alignment="space-around center"> 
    <div class="closer"
        layout="row"
        alignment="flex-end flex-end"
        (click)="close()">
        <div>
           <img class="close-icon"  src="./assets/icons/close-icon.png">
        </div>
    </div>
    <div class="main">
       <div id="app-calendar" class="dhx_cal_container" style='width:100%; height:700px;'>
        <div class="dhx_cal_navline">
          <div class="dhx_cal_prev_button">&nbsp;</div>
          <div class="dhx_cal_next_button">&nbsp;</div>
          <div class="dhx_cal_today_button"></div>
          <div class="dhx_cal_date"></div>
          <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
          <div id="week_tab" class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
          <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
        </div>
        <div class="dhx_cal_header">
        </div>
        <div class="dhx_cal_data">
        </div>
      </div>
    </div>
    <div>
      
    </div>
  </div>
</div>