@import "vars/global";

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  word-break: break-word;
  // word-wrap: break-word;
  // text-overflow: ellipsis;
  // white-space: nowrap;
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    // background-color: $outOfFocusColor;
    background: url("/assets/images/site-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgba(0,0,0,.7);
    height: 100vh;
}

.overlay:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  display: block;
  z-index: -1;
  background-color: rgba(0,0,0,0.35);
}

.ellipsis {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small-text{
  font-size: 0.6em;
}
img{
  width: 100%;
  max-height: 100%;
}

.bold {
  font-weight: 700;
}
.semi-bold{
  font-weight: 500;
}
.foreground {
  background-color: $inFocusColor;
}
.background {
  background-color: $outOfFocusColor;
}

.accent{
 background:rgba(211,211,211, 0.3);
}
.active {
  background-color: $strongAccentColor;
}

.rounded{
  border-radius: 1rem;
}


.w-100{
  width: 100%;
}

.h-100{
  height:100%;
}

.lgrayText{
  color: $lgray;
}

.whiteText{
  color: $white;
}

.outlined {
  border: 1px solid #dddddd;
  border-radius: 0.1rem;
  box-shadow: 0px 1px 1px 0px #ccc;
}

.weak-outlined {
  border: 1px solid rgba(0,0,0,0.1);
}

.scroll{
  overflow-y: scroll;
}

@each $dir in $directions {
  .border-#{$dir} {
    border-#{$dir}: 1px solid #dddddd;
  }
}

.text-left{
  text-align: left;
}

.cover{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.4);
  z-index:5;
  width:100%;
  height:100%;
}

.tab {
  cursor: pointer;
}

.side-bar {
  position: fixed;
  height: 100%;
  width: 300px;
  top: 85px;


  .side-bar-header {
    text-align: center;
    font-size: 26px;
    padding: 9px;
    width: 100%;
  }

  .side-bar-container {
    height: 100%;
    overflow: auto;
  }
}

app-main {
  height: 100%;
  width: 100%;
  display: block;
}

.pointer{
  cursor: pointer;
}

button {
  background-color: $strongAccentColor;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 12px 22px;

  &:hover {
    cursor: pointer;
    background: rgba(0,132,191, 0.5)
  }
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.popup-container {
  position: absolute;
  top: 30%;
  left: 30%;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 98;
  box-shadow: 0px 1px 1px 2px #222;

  app-post-body {
    .post-body {
      min-height: 220px;
    }
  }
}

.fadeIn {
    -webkit-animation: fadein 1s linear forwards;
    animation: fadein 1s linear forwards;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
