<div class="m-top-m" flex="100"
     alignment="space-around center"
     layout="row">
  <div flex="100"
       layout="row"
       alignment="space-around flex-start">
    <div flex="100"
         alignment="flex-start center"
         layout="column">
      <div class="create-edit foreground"
           flex="100">
        <app-create-edit-post flex="100" [editPost]="selectedPost" ></app-create-edit-post>
      </div>
      <div class="account-stats">
        account stats go here
      </div>
    </div>
  </div>
</div>
